.page-header {
  display: flex;
  height: 80px;
  align-items: center;
  padding: 10px 20px 10px 20px;
  border-bottom: #e3e6e7 solid;
}

.header-buttons {
  border-radius: 100%;
  width: 2.5vw;
  height: 2.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin-right: 10px;
}

.menu-button-image {
  width: 1vw;
  height: 1vw;
}

.header-title {
  font-size: 25px;
  margin-right: 60px;
  font-weight: 500;
}

.today-button {
  background-color: transparent;
  font-size: 15px;
  border-radius: 5%;
  border: #bdc4c6 solid;
  border-width: 1px;
  padding: 10px;
  color: gray;
  font-weight: 500;
  margin-right: 20px;
}

.arrow-image-1 {
  width: 0.5vw;
  height: 0.5vw;
  transform: rotate(180deg);
}

.arrow-image-2 {
  width: 0.5vw;
  height: 0.5vw;
}

.mon-year-text {
  font-size: 25px;
  margin-right: 20px;
}

.week-menu-button {
  background-color: transparent;
  font-size: 15px;
  border-radius: 5%;
  border: #bdc4c6 solid;
  border-width: 1px;
  padding: 10px;
  color: gray;
  font-weight: 500;
  margin-left: auto;
  margin-right: 10px;
}
.header-buttons:hover,
.today-button:hover,
.week-menu-button:hover {
  background-color: #d0d4d7;
  cursor: pointer;
}
