.main-calendar {
  padding: 30px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.last-day {
  border: none;
}

.time-table {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(24, 1fr);
  height: 100%;
  grid-auto-flow: column;
}

.calendar-square {
  background-image: var(--bg-stripes);
  border-right: 1px var(--border-color-light) solid;
  border-top: 1px var(--border-color-light) solid;
}

.calendar-square:nth-child(7n) {
  border-right: one;
}
.calendar-time-line-and-squares {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100%;
}
.time-line {
  height: 100%;
  display: flex;
  justify-content: space-around;
  padding-right: 10px;
  width: 40px;
  flex-direction: column;
}
