.calendar-base {
  height: 30vh;
  width: 13vw;
  background-color: transparent;
  margin: 10px;
}

.calendar-header {
  display: flex;
  flex-direction: row;
  width: 13vw;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.calendar-button-group {
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.calendar-text {
  color: var(--font-color);
  font-weight: 500;
  font-size: 18px;
}

.calendar-buttons {
  width: 1.5vw;
  height: 1.5vw;
  background-color: transparent;
  margin-right: 8px;
  position: relative;
  justify-self: flex-end;
  border-radius: 100%;
}

.calendar-arrow-1 {
  width: 0.5vw;
  height: 0.5vw;
  transform: rotate(180deg);
}

.calendar-arrow-2 {
  width: 0.5vw;
  height: 0.5vw;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
}

.day-name {
  color: var(--font-color);
  font-weight: 500;
  border-radius: 100%;
  margin-bottom: 5px;
  text-align: center;
  border-radius: 100%;
  width: 1.5em;
  height: 1.5em;
}

.day {
  color: var(--font-color-secondary);
  border-radius: 100%;
  width: 1.5em;
  height: 1.5em;
  padding: 2px;
}

.other-day {
  color: var(--font-color);
  border-radius: 100%;
  width: 1.5em;
  height: 1.5em;
}

.event-button:hover,
.calendar-buttons:hover,
.day:hover,
.other-day:hover {
  background-color: var(--bg-color-hover);
  cursor: pointer;
}

.current-day {
  background-color: var(--bg-color-div);
  color: white;
}
