.root {
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* background-color: blue; */
  --bg-color-hover: #d0d4d7;
  --font-color: gray;
  --bg-color-div: #4a7fb5;
  --bg-color-div-hover: #3a6fa5;
  --modal-font-color: #242424;
  --label-font-color: rgba(204, 204, 204, 0);
  --modal-bg-color: white;
  --font-color-secondary: black;
  --font-color-third: gray;
  --soft-font-color: #e3e6e7;
  --calander-square-bg: rgb(242, 237, 237);
  --calendar-square-primary: rgba(255, 255, 255, 0.593);
  --calendar-square-secondary: rgba(255, 255, 255, 0.5);
  --button-border: transparent;
  --button-bg: transparent;
  --today-bg: #4a7fb5;
  --calendar-border: #e3e6e7;
  --calendar-bg: transparent;
}
.darkmode {
  background-color: black;
  --button-border: white;
  --bg-color-hover: white;
  --button-bg: rgb(2, 209, 255);
  --font-color-secondary: white;
  --font-color-third: white;
  --font-color: rgb(2, 209, 255);
  --today-bg: rgb(2, 209, 255);
  --bg-color-div: rgb(2, 209, 255);
  --calendar-border: rgb(2, 209, 255);
  --calendar-square-primary: black;
  --calendar-square-secondary: black;
  --calendar-bg: black;
  --modal-font-color: rgb(2, 209, 255);
  --modal-bg-color: black;
  --label-font-color: rgb(2, 209, 255);
}
span {
  color: gray;
}
main {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  /* height: 100vh; */
  /* background-color: red; */
}
aside {
  width: 15vw;
  padding: 10px 20px 10px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
